[Unit]
Description=(dm-)writeboost mapper
Documentation=man:writeboost
DefaultDependencies=false
Before=cryptsetup.target
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=no
TimeoutStartSec=600
ExecStart=/sbin/writeboost
ExecStop=/sbin/writeboost -u

[Install]
WantedBy=cryptsetup-pre.target
WantedBy=local-fs-pre.target
#Alias=dm-writeboost.service
